{% extends "user_base.html" %}

{% block title %}All Users{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center">Hospital Privacy and Policy</h1>
    <h2>Key Findings</h2>

    <div class="recommendation">
        <h3>1. Prevalence of Tracking Technologies</h3>
        <p>Nearly all hospitals’ websites (96%) collect and transmit user information to third parties, yet most do not have privacy policies that disclose exactly who will receive this data.</p>
    </div>

    <div class="recommendation">
        <h3>2. Disclosure of Data Collection and Use</h3>
        <p>While 97.2% of websites disclosed the types of user information being collected, 98.6% disclosed how the information was being used, and 93% disclosed the types of third parties receiving the data.</p>
    </div>

    <div class="recommendation">
        <h3>3. Regulatory Risks</h3>
        <p>Hospitals may face regulatory risks if their published website privacy policies fall short of Federal Trade Commission (FTC) standards.</p>
    </div>

    <div class="recommendation">
        <h3>4. Importance of Clear and Concise Policies</h3>
        <p>Privacy policies are often time-consuming to read and difficult to understand, providing an imperfect solution for protecting user privacy.</p>
    </div>

    <h2>Recommendations</h2>

    <div class="recommendation">
        <h3>1. Prioritize Transparency</h3>
        <p>Hospitals should clearly disclose their use of third-party tracking technologies and the recipients of user data.</p>
    </div>

    <div class="recommendation">
        <h3>2. Improve Policy Clarity</h3>
        <p>Privacy policies should be concise, easily understandable, and regularly reviewed and updated to ensure compliance with regulatory standards.</p>
    </div>

    <div class="recommendation">
        <h3>3. Implement Opt-In Mechanisms</h3>
        <p>Hospitals should consider implementing alternative solutions, such as opt-in consent mechanisms, to better protect user privacy.</p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}